:host{
  display: inline-block;
  width: 250px;
  height: 250px;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 7px;
  position: relative;
  box-sizing: border-box;
  margin: 5px;
}

img:not(.picto){
  width: 100%;
}

.picto{
  position: absolute;
  margin: 10px;
  z-index: 1;
}
