<div class="card mb-3"  *ngFor="let product of products">
  <div class="row g-0">
    <div class="col-md-4">
      <app-ui-image
      appImgZoom
      [source]="product.thumbnail"></app-ui-image>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text">{{product.description}}</p>
      </div>
    </div>
  </div>
</div>

<!-- <p>view-product works!</p>

<code>
  {{ presenter.state$ | async | json }}
</code>

<hr>

<code>
  {{ userSelectedImage }}
</code>

<hr>

<app-ui-image
    *ngFor="let item of images"
    appImgZoom
    (selected)="onSelection($event)"
    [source]=" item ">
</app-ui-image>



 -->
